@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}
.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}


@layer utilities {
  .skeleton {
    @apply bg-gray-200 relative overflow-hidden;
  }

  .skeleton::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, rgba(205, 205, 205, 0.4), transparent);
    animation: shimmer 1.3s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}